!data_pilot.csv
!codebook_data_pilot.csv
!data_pilot_acq_low.csv
!codebook_data_pilot_acq_low.csv
!data_pilot_acq_high.csv
!codebook_data_pilot_acq_high.csv
!data_pilot_rec_low.csv
!codebook_data_pilot_rec_low.csv
!data_pilot_rec_high.csv
!codebook_data_pilot_rec_high.csv
!data_pilot_acq.csv
!codebook_data_pilot_acq.csv
!data_pilot_rec.csv
!codebook_data_pilot_rec.csv
!data_acq_peak.csv
!codebook_data_acq_peak.csv
!data_rec_peak.csv
!codebook_data_rec_peak.csv
!data_acq_crossings.csv
!codebook_data_acq_crossings.csv
!data_acq_p2.csv
!codebook_data_acq_p2.csv
!data_rec_crossings.csv
!codebook_data_rec_crossings.csv
!data_acq_crossings_preceedingStan.csv
!codebook_data_acq_crossings_preceedingStan.csv
!data_acq_peak_frontalROI.csv
!codebook_data_acq_peak_frontalROI.csv
!data_acq_peak_ROIwoFz.csv
!codebook_data_acq_peak_ROIwoFz.csv
!data_acq_peak_ROIf3f4.csv
!codebook_data_acq_peak_ROIf3f4.csv
!data_acq_peak_ROIf3fzf4.csv
!codebook_data_acq_peak_ROIf3fzf4.csv
!data_acq_peak_400500_f3.csv
!codebook_data_acq_peak_400500_f3.csv
!data_acq_100msPEak_f3fzf4.csv
!codebook_data_acq_100msPEak_f3fzf4.csv
!data_acq_100msPeak_f3fzf4fc5fc6.csv
!codebook_data_acq_100msPeak_f3fzf4fc5fc6.csv
!data_acq_100msPeak_normalROI.csv
!codebook_data_acq_100msPeak_normalROI.csv
!data_acq_100msPeak_f3fzf4.csv
!codebook_data_acq_100msPeak_f3fzf4.csv
!data_acq_peak_15.csv
!codebook_data_acq_peak_15.csv
!data_rec_peak_15.csv
!codebook_data_rec_peak_15.csv
!data_acq_peak_neg_S3.csv
!codebook_data_acq_peak_neg_S3.csv
!data_acq_peak_pos_S3.csv
!codebook_data_acq_peak_pos_S3.csv
!data_acq_twperS.csv
!codebook_data_acq_twperS.csv
!data_acq_twperSfrontal.csv
!codebook_data_acq_twperSfrontal.csv
!data_acq_twperSPEAK.csv
!codebook_data_acq_twperSPEAK.csv
!data_acq_twperSPEAKfrontal.csv
!codebook_data_acq_twperSPEAKfrontal.csv
!data_acq_twperS200peak.csv
!codebook_data_acq_twperS200peak.csv
!data_acq_twperS200peakfrontal.csv
!codebook_data_acq_twperS200peakfrontal.csv
!data_acq_twperS_frontal.csv
!codebook_data_acq_twperS_frontal.csv
!data_acq_twperS_peak100.csv
!codebook_data_acq_twperS_peak100.csv
!data_acq_twperS_peak100_frontal.csv
!codebook_data_acq_twperS_peak100_frontal.csv
!data_acq_twperS_peak200.csv
!codebook_data_acq_twperS_peak200.csv
!data_acq_twperS_peak200_frontal.csv
!codebook_data_acq_twperS_peak200_frontal.csv
!data_acq_twperS_15.csv
!codebook_data_acq_twperS_15.csv
!data_acq_twperS_frontal_15.csv
!codebook_data_acq_twperS_frontal_15.csv
!data_acq_twperS_peak100_15.csv
!codebook_data_acq_twperS_peak100_15.csv
!data_acq_twperS_peak100_frontal_15.csv
!codebook_data_acq_twperS_peak100_frontal_15.csv
!data_acq_twperS_peak200_15.csv
!codebook_data_acq_twperS_peak200_15.csv
!data_acq_twperS_peak200_frontal_15.csv
!codebook_data_acq_twperS_peak200_frontal_15.csv
!data_acq_peak_frontalROI_15.csv
!codebook_data_acq_peak_frontalROI_15.csv
!data_acq_peak_ROIf3fzf4_15.csv
!codebook_data_acq_peak_ROIf3fzf4_15.csv
!data_acq_100msPeak_f3fzf4_15.csv
!codebook_data_acq_100msPeak_f3fzf4_15.csv
!data_acq_100msPeak_f3fzf4fc5fc6_15.csv
!codebook_data_acq_100msPeak_f3fzf4fc5fc6_15.csv
!data_acq_100msPeak_normalROI_15.csv
!codebook_data_acq_100msPeak_normalROI_15.csv
!data_acq_p2_15.csv
!codebook_data_acq_p2_15.csv
!data_acq_crossings_15.csv
!codebook_data_acq_crossings_15.csv
!data_acq_peak_20.csv
!codebook_data_acq_peak_20.csv
!data_acq_peak_frontalROI_20.csv
!codebook_data_acq_peak_frontalROI_20.csv
!data_acq_peak_frontal_neg_S3.csv
!codebook_data_acq_peak_frontal_neg_S3.csv
!data_acq_peak_frontal_pos_S3.csv
!codebook_data_acq_peak_frontal_pos_S3.csv
!data_acq_normal.csv
!codebook_data_acq_normal.csv
!data_acq_frontal.csv
!codebook_data_acq_frontal.csv
!data_rec_normal.csv
!codebook_data_rec_normal.csv
!data_rec_frontal.csv
!codebook_data_rec_frontal.csv
!data_recfam_normal.csv
!codebook_data_recfam_normal.csv
!data_recfam_frontal.csv
!codebook_data_recfam_frontal.csv
!data_acq.csv
!codebook_data_acq.csv
!data_rec.csv
!codebook_data_rec.csv
!data_acq_tw200msbefore.csv
!codebook_data_acq_tw200msbefore.csv
!data_acq_tw196msbefore.csv
!codebook_data_acq_tw196msbefore.csv
!data_acq_earlyTW.csv
!codebook_data_acq_earlyTW.csv
